# copy this file to dev.secrets.exs
# and replace the placeholder values with your dev secrets

use Mix.Config

alias PVAData.{
  Data,
  DataManager
}

config :pva_data,
  other_children: [
    {Redix,
     [
       host: "redis-hostname-here",
       port: 17885,
       password: "redis-database-password-here",
       name: :redix
     ]},
    {Data, [name: Data]},
    {DataManager, [name: DataManager]}
  ],
  pva_password: 'password for pva website'
